* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   background-color: #1a0e5d;

}

.header{
  /* The image used */
  background-image: url("./background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

div.logo {
  position: relative;
}
div.logo img {
  position: absolute; right: 0; bottom: 0;
}

.stakelogo {
  max-width: 8%;
  height: auto;
}











#navbar {
  overflow: hidden;
  background-color: #251771;
  width: 1240px;
  padding-left: calc((100% - 1240px)/2);
  padding-right: calc((100% - 1240px)/2);
  box-sizing: content-box;
}

#navbar a {
  float: left;
  display: block;
  color: #b6aaf5;
  padding: 3% 4%;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

#navbar a:hover {
  color: white;
}

.content {
  padding-left: calc((100% - 975px) / 2);
  padding-right: calc((100% - 975px) / 2);
}

.livestream {
  color: white;
  padding-top: 5%;
  padding-bottom: 2%;
  text-decoration-line: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.faq-text {
  color: white;
  font-size: 18px;
  text-decoration-thickness: 3px;
}

.faq-answer {
  color: #eaeaea;
  font-size: 14px;
}